' Diese Datei enthält Layout-Spezifikaitionen für die generierten PlantUML-Diagramme.
' Die hier angegebenen Parameter können auch direkt in den Diagramm-Blöcken eingetragen werden.
' Das würde dann die Einstellung hier übersteuern.
' Doku: https://plantuml.com/de/skinparam


skinparam handwritten false

skinparam actor {
 BorderColor Black
 BackgroundColor DeepSkyBlue
}

skinparam usecase {
 ArrowColor Black
 BackgroundColor DodgerBlue
 BorderColor Black
 FontColor White
}

skinparam node {
 ArrowColor Black
 BackgroundColor DodgerBlue
 BorderColor Black
 FontColor wWhite
}

skinparam file {
 ArrowColor Black
 BackgroundColor Lime
 BorderColor Black
 FontColor Black
}

skinparam sequence {
 ArrowColor Black
 LifeLineBorderColor Black
 LifeLineBackgroundColor Blue
 ParticipantFontColor White
 ParticipantBorderColor Black
 ParticipantBackgroundColor DodgerBlue
}
